<% content_for :top_content do %>
  <div class="jumbotron">
    <div class="container">
      <% @posts.each do |post| %>
        <p>
          <%= link_to post.user.name, user_path(post.user) %>
          <%= post.body %>
        </p>
      <% end %>
    </div>
  </div>
<% end %>
